<head>
		<title>Pi to the nth digit</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Pi to the nth digit calculation">
  	<meta name="author" content="Luka">
 	
 	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>

</head>