<!DOCTYPE>
<html lang="en">
	<head>
		<title>My First Bitstarter</title>
		<meta charset="utf-8">
		<title>Bitstarter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Bitstarter page">
  	<meta name="author" content="Luka">
 	
 	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	</head>
	<body>
		<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
		    <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">Projects</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Classes
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<%= link_to "PI", controller:"numbers_pi_to_the_nth" %>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Databases
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
						    	 	<li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Files
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Graphics and multimedia
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Networking
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Numbers
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							    <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Text
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Threading
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
							  <li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    	Web
							    	<b class="caret"></b> 
							    </a>
							    <ul class="dropdown-menu">
							      <li>
							      	<a href="#"> none </a>
							      </li>
							    </ul>
							  </li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
		  </div>
		</div>
		
	</body>
</html>